{{#each availabilityOptions as |availabilityOption index|}}
  <div class="option option--{{availabilityOption.status}}">
    <div class="option__label">
      <p>{{labelOption}} {{inc index}}</p>
    </div>

    {{#uni-dropdown
      isAbsolute=true
      selected=(capitalize availabilityOption.status)
      placeholder=optionsPlaceholder
      onChange=(action "updateAvailability" index)
      options=options as |option|}}
      {{capitalize option.value}}
    {{/uni-dropdown}}

    {{#if allowEditOptions}}
      <div class="option__link link" {{action "deleteOption" index}}>{{labelDelete}}</div>
    {{/if}}
  </div>
{{else}}
  <div class="options__none">{{labelEmpty}}</div>
{{/each}}

{{#if allowEditOptions}}
  <p class="link" {{action (toggle "displayNewOptionSection" this)}}>{{labelAdd}}</p>
{{/if}}

{{#if displayNewOptionSection}}
  <div class="options__add">
    {{labelFrom}}
    {{uni-datepicker-input selected=startDate onSelected=(action (mut startDate))}}

    {{labelTo}}
    {{uni-datepicker-input selected=endDate onSelected=(action (mut endDate))}}

    {{uni-input-price value=contractValue per=labelPer}}

    <div class="link" {{action "addOption"}}>{{labelOk}}</div>
  </div>
{{/if}}
