{{#each blockedPeriods as |blockedPeriod i|}}
  <div class="blocked-period">
    <div class="label">{{labelFrom}}</div>

    {{uni-datepicker-input
      selected=(compute (action "stringToMoment" blockedPeriod.from))
      center=(compute (action "getCenter" blockedPeriod.from))
      onSelected=(action "changeBlockedPeriodFrom" blockedPeriod.from)}}

    <div class="label">{{labelTo}}</div>

    {{uni-datepicker-input
      selected=(compute (action "stringToMoment" blockedPeriod.to))
      center=(compute (action "getCenter" blockedPeriod.to))
      minDate=(compute (action "stringToMoment" blockedPeriod.from))
      onSelected=(action "storeDate" (action (mut blockedPeriod.to)))}}

    {{inline-svg 'icons/calendar.svg'}}

    <p class="blocked-period__delete link" {{action "deleteBlockedPeriod" i}}>{{labelDelete}}</p>
  </div>
{{else}}
  <div class="blocked-periods__none">{{labelEmpty}}</div>
{{/each}}

<p class="blocked-periods__add link" {{action "addBlockedPeriod"}}>{{labelAdd}}</p>
