{{#uni-footer-website isDark=true as |footer|}}
  {{#footer.row as |row|}}
    {{#row.cell header="Uniplaces" as |cell|}}
      <a class="{{cell.cellClass}}__anchor">About</a>
      <a class="{{cell.cellClass}}__anchor">Partners</a>
    {{/row.cell}}
    {{#row.cell header="Students" as |cell|}}
      <a class="{{cell.cellClass}}__anchor">Ambassador program</a>
      <a class="{{cell.cellClass}}__anchor">Uniplaces scholarship</a>
    {{/row.cell}}
    {{#row.cell header="Need help?" as |cell|}}
      <a class="{{cell.cellClass}}__anchor">Help center</a>
      <a class="{{cell.cellClass}}__anchor">Contact us</a>
    {{/row.cell}}
  {{/footer.row}}
  {{#footer.row as |row|}}
    {{#row.cell halfLine=true as |cell|}}
      <a class="{{cell.cellClass}}__anchor {{cell.cellClass}}__anchor--inline">Lisbon</a>
      <a class="{{cell.cellClass}}__anchor {{cell.cellClass}}__anchor--inline">Porto</a>
    {{/row.cell}}
  {{/footer.row}}
{{/uni-footer-website}}
