<div class="demo-app__banner">
  {{uni-title title="ember-cli-uniq" subtitle=(concat "made with ♥ at " (inline-svg "essential/uniplaces_logo_white"))}}
  <div class="demo-app__banner__current-version">Current version: <span>{{app-version}}</span></div>
</div>

<div class="container">
  <ul class="list">
    {{#each model.componentSections as |section|}}
      <li>{{uni-anchor href=(concat "#" section) label=(humanize section)}}</li>
    {{/each}}
  </ul>

  <div class="components">
    <div id="headers" class="components__section">
      {{uni-title title="Headers" class="uni-title--spaced"}}

      <div class="component">
        {{uni-title title="uni-header"}}
        {{component-links component="uni-header"}}
        <p class="description">
          This is a component used for the unified header. It's a straight forward component that must yield the desired
          components. See below for more insight.
        </p>

        {{uni-header}}
        {{code-snippet name="uni-header-1.hbs"}}

        {{#uni-header logoUrl="https://www.uniplaces.com"}}
          {{#uni-header-menu}}
            {{uni-header-button label="Help" href="https://help.uniplaces.com"}}
            {{uni-header-button label="Log in"}}
            {{uni-header-button label="Sign up" isBordered=true}}
          {{/uni-header-menu}}
        {{/uni-header}}
        {{code-snippet name="uni-header-2.hbs"}}

        <div style="background-color: #333">
          {{uni-header isTransparent=true}}
        </div>
        {{code-snippet name="uni-header-3.hbs"}}
      </div>
    </div>

    <div id="tabs" class="components__section">
      {{uni-title title="Tabs" class="uni-title--spaced"}}
      <div class="component">
        {{uni-title title="uni-horizontal-tabs"}}
        {{component-links component="uni-horizontal-tabs"}}
        <p class="description">
          This component allows to have horizontal tabs that switch the content on click.
        </p>

        {{#uni-horizontal-tabs options=model.options as |option|}}
          {{option}}
        {{/uni-horizontal-tabs}}
        {{code-snippet name="uni-horizontal-tabs-1.hbs"}}

        {{#uni-horizontal-tabs options=model.options btnLabel=model.uniHorizontalTabsBtnLabel as |option|}}
          {{option}}
        {{/uni-horizontal-tabs}}
        {{code-snippet name="uni-horizontal-tabs-2.hbs"}}
      </div>

      <div class="component">
        {{uni-title title="uni-tabs"}}
        {{component-links component="uni-tabs"}}
        <p class="description">
          This is a component used for header tabs. It receives an array of tabs consisting of objects containing a
          <strong>label</strong> and an <strong>url</strong>.<br><br>
          You can check an example of tabs <a class="uni-anchor" target="_blank" href="https://github.com/uniplaces/ember-cli-uniq/blob/master/tests/dummy/app/routes/application.js">here</a>.<br>
          <strong>WARNING: </strong>Currently it's only possible to use urls that are a route of the own application.
        </p>

        {{uni-tabs tabs=model.tabs}}
        {{code-snippet name="uni-tabs-1.hbs"}}
      </div>
    </div>

    <div id="alerts" class="components__section">
      {{uni-title title="Alerts" class="uni-title--spaced"}}
      <div class="component">
        {{component-links component="uni-alert"}}
        <p class="description">
          This is a component used to generate alerts. There are four types of alerts: default (information),
          success, warning and error. The <code>type</code> of the alert can be passed by string - <code>success,
          warning or error</code> - or by setting custom variables - <code>isSuccess, isWarning or isError</code>.
        </p>

        {{uni-alert
          stickyMode=true
          hasClose=true
          title="This is the default alert!"
          subtitle="The stickyMode option and the hasClose option are also enabled."}}
        {{code-snippet name="uni-alert-1.hbs"}}
      </div>

      {{uni-alert type="success" title="Success!" subtitle="This is a subtitle."}}
      {{code-snippet name="uni-alert-2.hbs"}}

      {{uni-alert type="warning" title="Warning!" subtitle="This is a subtitle."}}
      {{code-snippet name="uni-alert-3.hbs"}}

      {{uni-alert isError=true title="Error!" subtitle="This is a subtitle."}}
      {{code-snippet name="uni-alert-4.hbs"}}
    </div>

    <div id="progress-bar" class="components__section">
      {{uni-title title="Progress bar" class="uni-title--spaced"}}
      <div class="component">
        {{component-links component="uni-progress.bar"}}
        <p class="description">
          This is a component used to illustrate a progress for a determined flow. It takes as arguments a percentage and the total steps.
        </p>

        {{uni-progress-bar percentage=25 totalStepsCount=4}}
        {{code-snippet name="uni-progress-bar-1.hbs"}}
      </div>
    </div>

    <div id="headings" class="components__section">
      {{uni-title title="Headings" class="uni-title--spaced"}}
      <div class="component">
        {{uni-title title="uni-title"}}
        {{component-links component="uni-title"}}
        <p class="description">
          This is a component used to generate titles. It accepts a string (title) and an optional string (subtitle).
        </p>

        {{uni-title title="This is a title!"}}
        {{code-snippet name="uni-title-1.hbs"}}

        {{uni-title title="This is another title!" subtitle="with its own subtitle"}}
        {{code-snippet name="uni-title-2.hbs"}}
      </div>

      <div class="component">
        {{uni-title title="uni-subtitle"}}
        {{component-links component="uni-subtitle"}}
        <p class="description">
          This is a component used to generate subtitles. It accepts a string (subtitle).
        </p>

        {{uni-subtitle subtitle="This is a subtitle"}}
        {{code-snippet name="uni-subtitle-1.hbs"}}
      </div>
    </div>

    <div id="anchor" class="components__section">
      {{uni-title title="Anchor" class="uni-title--spaced"}}
      <div class="component">
        {{component-links component="uni-anchor"}}
        <p class="description">
          This is an anchor. This is implemented using <code>a</code> elements. For EmberJS transitions, use a
          <code>linkTo</code> component with the class 'uni-anchor'.
        </p>

        {{uni-anchor label="This is an anchor" href="//www.uniplaces.com" target="_blank"}}
        {{code-snippet name="uni-anchor-1.hbs"}}
      </div>
    </div>

    <div id="buttons" class="components__section">
      {{uni-title title="Buttons" class="uni-title--spaced"}}
      <div class="component">
        {{component-links component="uni-button"}}
        <p class="description">
          This is a component used for all types of buttons. There are several types of buttons: primary, secondary, disabled
          and loading. It receives a label and an action that may or may not return a promise.<br>
          If the action returns a promise, the button will behave as a submit button. It will switch to disabled and loading
          until the promise is resolved.
        </p>

        <div class="flex-wrapper">
          {{uni-button isPrimary=true label="Primary"}}
          {{uni-button isSecondary=true label="Secondary"}}
          {{uni-button isDisabled=true label="Disabled"}}
          {{uni-button isPrimary=true isLoading=true label="Loading..."}}
        </div>
        {{code-snippet name="uni-button-1.hbs"}}
      </div>
    </div>

    <div id="checkbox" class="components__section">
      {{uni-title title="Checkbox" class="uni-title--spaced"}}
      <div class="component">
        {{component-links component="uni-checkbox"}}
        <p class="description">
          This is a component used for checkbox inputs.
        </p>

        <div class="flex-wrapper">
          {{uni-checkbox label="Selected" isSelected=true}}
          {{uni-checkbox label="Not selected" isSelected=false}}
          {{uni-checkbox label="Disabled checkbox" isDisabled=true}}
          {{uni-checkbox label="Checkbox with error" hasError=true}}
        </div>
        {{code-snippet name="uni-checkbox-1.hbs"}}
      </div>
    </div>

    <div id="datepickers" class="components__section">
      {{uni-title title="Datepickers" class="uni-title--spaced"}}

      <div class="component">
        {{uni-title title="uni-datepicker"}}
        {{component-links component="uni-datepicker"}}
        <p class="description">
          This is a calendar component.
        </p>

        {{uni-datepicker}}
        {{code-snippet name="uni-datepicker-1.hbs"}}
      </div>

      <div class="component">
        {{uni-title title="uni-datepicker-range"}}
        {{component-links component="uni-datepicker-range"}}
        <p class="description">
          This component shows a datepicker that is ready to select a range of dates.
        </p>
        {{uni-datepicker-range center=model.datepickerRange.center selected=model.datepickerRange.selected}}
        {{code-snippet name="uni-datepicker-range.hbs"}}
      </div>

      <div class="component">
        {{uni-title title="uni-datepicker-input"}}
        {{component-links component="uni-datepicker-input"}}
        <p class="description">
          This component shows a datepicker with the date as an input. It's also possible to open/close the datepicker
          by clicking on the input. You can provide a placeholder for the input.
        </p>

        {{uni-datepicker-input
          selected=model.startDate
          minDate=model.minDate
          onSelected=(action (mut model.startDate))}}
        {{code-snippet name="uni-datepicker-input-1.hbs"}}

        {{uni-datepicker-input
          placeholder=model.datepickerInputPlaceholder
          selected=model.date
          minDate=model.minDate
          onSelected=(action (mut model.date))}}
        {{code-snippet name="uni-datepicker-input-2.hbs"}}

        {{uni-datepicker-input
          label=model.datepickerInputLabel
          placeholder=model.datepickerInputPlaceholder
          selected=model.date
          minDate=model.minDate
          onSelected=(action (mut model.date))
          disabledDates=model.disabledDates}}
        {{code-snippet name="uni-datepicker-input-3.hbs"}}
      </div>
    </div>

    <div id="dropdown" class="components__section">
      {{uni-title title="Dropdown" class="uni-title--spaced"}}
      <div class="component">
        {{component-links component="uni-dropdown"}}
        <p class="description">
          This is a component used for dropdown inputs. It accepts a placeholder, an array of options and a boolean to determine
          if it's positioned absolutely of relatively (this is related to the CSS property <strong>position</strong>).
        </p>

        {{#uni-dropdown
          isAbsolute=true
          selected=model.dropdown.selected
          placeholder="Select one"
          onChange=(action (mut model.dropdown.selected))
          options=(array "Dropdown option 1" "Dropdown option 2" "Dropdown option 3") as |option|}}
          {{option}}
        {{/uni-dropdown}}
        {{code-snippet name="uni-dropdown-1.hbs"}}

        <p class="description">
          This component also accepts an option to display a different alias for the selected option and an option to display svgs.
        </p>

        {{#uni-dropdown
          isAbsolute=true
          selected=model.secondDropdown
          placeholder="Select one"
          onChange=(action (mut model.secondDropdown))
          selectedAlias=(i 'Alias example - ${selected}' selected=model.secondDropdown.value)
          selectedSvgs=(if model.secondDropdown null (array 'essential/icons/google' 'essential/icons/facebook'))
          options=model.dropdownOptions as |option|}}
          {{option.value}}
        {{/uni-dropdown}}
        {{code-snippet name="uni-dropdown-2.hbs"}}
      </div>
    </div>

    <div id="radio-button" class="components__section">
      {{uni-title title="Radio button" class="uni-title--spaced"}}
      <div class="component">
        {{component-links component="uni-radio-button"}}
        <p class="description">
          This is a component used for radio button inputs.
        </p>

        {{uni-radio-button checked=true label="Checked radio button"}}
        {{uni-radio-button checked=false label="Unchecked radio button"}}
        {{uni-radio-button label="Disabled radio button" isDisabled=true}}

        {{code-snippet name="uni-radio-button-1.hbs"}}
      </div>
    </div>

    <div id="multi-selector" class="components__section">
      {{uni-title title="Multi selector" class="uni-title--spaced"}}
      <div class="component">
        {{component-links component="uni-multi-selector"}}
        <p class="description">
          This component is a visual alternative to the above radio buttons.
        </p>

        {{uni-multi-selector name="gender" options=model.genderOptions errorOptions=model.errorOptions isStatic=true}}
        {{code-snippet name="uni-multi-selector-1.hbs"}}

        {{uni-multi-selector name="options" groupValue="option2" options=model.multiOptions}}
        {{code-snippet name="uni-multi-selector-2.hbs"}}
      </div>
    </div>

    <div id="input" class="components__section">
      {{uni-title title="Input" class="uni-title--spaced"}}
      <div class="component">
        {{component-links component="uni-input"}}
        <p class="description">
          This is the default component used for inputs - it accepts the basic input options. <br>
          It has default validations for email and required empty fields - by default it shows error and does <u>not</u> show success.<br>
          It's also possible to use a different validation by setting showError/showSuccess/showWarning with either a boolean or a function. <br>
          On type number inputs it has numeric conversion.<br>
          It's possible to use tooltips by setting a tooltipMessage.
        </p>

        {{uni-input placeholder="Name" tooltipMessage="Click me!"}}
        {{code-snippet name="uni-input-1.hbs"}}

        {{uni-input type="number" isRequired=true}}
        {{code-snippet name="uni-input-2.hbs"}}

        {{uni-input type="email" value=model.email}}
        {{code-snippet name="uni-input-3.hbs"}}

        {{uni-input value=model.number showError=model.gteTen showSuccess=(not model.gteTen)}}
        {{code-snippet name="uni-input-4.hbs"}}

        {{uni-input showSuccessDefault=true isRequired=true}}
        {{code-snippet name="uni-input-5.hbs"}}
      </div>
    </div>

    <div id="special-inputs" class="components__section">
      {{uni-title title="Special inputs" class="uni-title--spaced"}}
      <div class="component">
        {{uni-title title="uni-autocomplete"}}
        {{component-links component="uni-auto-complete"}}
        <p class="description">
          This is a component used for selecting an item for a list.
          <br>
          Parameters:
          <br>
          - <b>options</b>: can be a model or a simple key value object
          <br>
          - <b>searchTextValues</b>: a function used in the search process (it should receive an "option" and return an array with the corresponding value eg: [option.value] )
          <br>
          - <b>onSelected</b>: a function used to deal/save the selected option (it should receive an "option")
          <br>
          - <b>placeholderText</b>: an already translated string for the placeholder
          <br>
          - <b>noResultsText</b>: an already translated string for when there aren't matches.
          <br>
          - <b>noResultsComponent</b>: optional, as long as you pass noResultsText everything is ok!
        </p>

        {{#uni-autocomplete
          options=model.autocompleteOptions
          placeholderText="Type your coin"
          searchTextValues=(action "onAutocompleteSearch")
          onSelected=(action "onAutocompleteSelect") as |optionSearchable|}}
          {{titleize optionSearchable.matchedValues.firstObject}}
        {{/uni-autocomplete}}
        {{code-snippet name="uni-autocomplete-1.hbs"}}
      </div>

      <div class="component">
        {{uni-title title="uni-country"}}
        {{component-links component="uni-country"}}
        <p class="description">
          This is a component used for selecting countries using our uni-autocomplete component.
          <br>
          It can receive a list of countries, but it already has the default list.
          <br>
          Parameters:
          <br>
          - <b>countryCode</b>
          <br>
          - <b>locale</b>
          <br>
          - <b>hasError</b>: should be v-get validation
          <br>
          - <b>placeholderText</b>: an already translated string for the placeholder
          <br>
          - <b>noResultsText</b>: an already translated string for when there aren't matches.
          <br>
          - <b>getTranslatedCountryName</b>: a function that receives a key and a value and returns a string with the translated country name
        </p>

        {{uni-country}}
        {{code-snippet name="uni-country-1.hbs"}}

        {{uni-country countryCode=model.countryCode hasError=(eq model.countryCode "PT")}}
        {{code-snippet name="uni-country-2.hbs"}}
      </div>

      <div class="component">
        {{uni-title title="uni-input-range"}}
        {{component-links component="uni-input-range"}}
        <p class="description">
          This is a component used for number inputs. It accepts a placeholder, a value and a string with the description
          of the field (target). It can become editable by setting the isEditable flag to true.
        </p>

        {{uni-input-range placeholder="0" value="10" target="items"}}
        {{code-snippet name="uni-input-range-1.hbs"}}

        {{uni-input-range placeholder="0" value="10" isEditable=true}}
        {{code-snippet name="uni-input-range-2.hbs"}}
      </div>

      <div class="component">
        {{uni-title title="uni-input-price"}}
        {{component-links component="uni-input-price"}}
        <p class="description">
          This is a component used for price inputs, namely rent prices. It accepts the several properties, such as the currency
          (currency) and the basis (per). One improvement is to support left side currencies. Currently all currencies are
          being displayed as right side currencies.
        </p>

        {{uni-input-price currency="€" per="month"}}
        {{code-snippet name="uni-input-price-1.hbs"}}

        {{uni-input-price currency="€" per="month" isDisabled=true}}
        {{code-snippet name="uni-input-price-2.hbs"}}
      </div>

      <div class="component">
        {{uni-title title="uni-mobile-number"}}
        {{component-links component="uni-mobile-number"}}
        <p class="description">
          This is a component used for mobile number inputs, it accepts the several properties, such as an array of options
          (options) which by default is a list of all countries, and an optional array of preferred countries (preferredCountries).
          <br/><br/>
          For more info on countries, check <a class="uni-anchor" target="_blank" href="https://github.com/uniplaces/ember-cli-countries">ember-cli-countries</a>.
        </p>

        {{uni-mobile-number}}
        {{code-snippet name="uni-mobile-number-1.hbs"}}

        {{uni-mobile-number preferredCountries=(array 'PT' 'DE' 'GB') tooltipMessage="There are preferred countries!"}}
        {{code-snippet name="uni-mobile-number-2.hbs"}}

        {{uni-mobile-number selectPlaceholder='Select one' placeholder='Mobile number' preferredCountries=(array 'PT' 'DE' 'GB')}}
        {{code-snippet name="uni-mobile-number-3.hbs"}}
      </div>

      <div class="component">
        {{uni-title title="uni-file-upload"}}
        {{component-links component="uni-file-upload"}}
        <p class="description">
          This is a component used to upload a single file.
        </p>

        {{uni-file-upload}}
        {{code-snippet name="uni-file-upload-1.hbs"}}
      </div>
    </div>

    <div id="select" class="components__section">
      {{uni-title title="Select" class="uni-title--spaced"}}
      <div class="component">
        {{component-links component="uni-select"}}
        <p class="description">
          This is a select input component. Check the <a class="uni-anchor" target="_blank" href="https://github.com/uniplaces/ember-cli-uniq/blob/master/tests/dummy/app/routes/application.js">application.js</a> for the uniSelectOptions array.<br>
          You can set useAlias to true in order to display on the select a different value from the one on the option. For an example check uniSelectAliasOptions.
        </p>

        {{uni-select options=model.uniSelectOptions}}
        {{code-snippet name="uni-select-1.hbs"}}

        {{uni-select placeholder="Choose an option" useAlias=true options=model.uniSelectAliasOptions}}
        {{code-snippet name="uni-select-2.hbs"}}
      </div>
    </div>

    <div id="textarea" class="components__section">

      {{uni-title title="Textarea" class="uni-title--spaced"}}
      <div class="component">
        {{component-links component="uni-textarea"}}
        <p class="description">
          This is a textarea input component. It's allowed to define the number of rows and you can yield the characters count
          or some other component/text.
        </p>

        {{uni-textarea placeholder="This is a placeholder" tooltipMessage="I can have a tooltip!"}}
        {{code-snippet name="uni-textarea-1.hbs"}}

        {{#uni-textarea placeholder="You can also count characters" as |count|}}
          {{concat count " characters"}}
        {{/uni-textarea}}
        {{code-snippet name="uni-textarea-2.hbs"}}
      </div>
    </div>

    <div id="tooltip" class="components__section">
      {{uni-title title="Tooltip" class="uni-title--spaced"}}
      <div class="component">
        {{component-links component="uni-tooltip"}}
        <p class="description">
          This is a component used for displaying tooltips. There are currently two types of tooltips: question (isQuestion)
          and informative (isInformation). The title is optional. You can also yield a component within the tooltip to
          make it have a tooltip.
        </p>

        {{uni-tooltip isInformation=true content="This is a demo information tooltip text"}}
        {{code-snippet name="uni-tooltip-1.hbs"}}

        {{uni-tooltip isQuestion=true title="Demo tooltip" content="This is a demo question tooltip content"}}
        {{code-snippet name="uni-tooltip-2.hbs"}}

        {{#uni-tooltip content="Tooltip content about this button"}}
          {{uni-button isDisabled=true label="Button with tooltip"}}
        {{/uni-tooltip}}
        {{code-snippet name="uni-tooltip-3.hbs"}}
      </div>
    </div>

    <div id="photos" class="components__section">
      {{uni-title title="Photos" class="uni-title--spaced"}}

      <div class="component">
        {{uni-title title="uni-main-photo-picker"}}
        {{component-links component="uni-main-photo-picker"}}
        <p class="description">
          Unified main photo picker component. Should not differ much from platform to platform and has custom
          action hooks for the main photo selection (from a pool of provided photos)
        </p>
      </div>

      {{#uni-main-photo-picker
        title="Lorem ipsum dolor"
        photos=model.photos
        mainPhotoUrl=model.mainPhotoUrl as |photo|}}
        <div class="uni-image-gallery__wrapper__item__main {{if (eq model.mainPhotoUrl photo.url) 'uni-image-gallery__wrapper__item__main--selected'}}" {{action "setAsMainPhoto" photo}}>
          {{inline-svg (i "essential/icons/main-photo-${type}" type=(if (eq model.mainPhotoUrl photo.url) 'on' 'off'))}}
          Cover Photo
        </div>
      {{/uni-main-photo-picker}}

      {{code-snippet name="uni-main-photo-picker-1.hbs"}}
    </div>

    <div id="rating" class="components__section">
      {{uni-title title="Rating" class="uni-title--spaced"}}
      <div class="component">
        {{uni-title title="uni-stars"}}
        {{component-links component="uni-stars"}}
        <p class="description">
          Stars component to display grades.
        </p>

        {{uni-stars grade=2}}
        {{code-snippet name="uni-stars-1.hbs"}}

        {{uni-stars grade=2.5}}
        {{code-snippet name="uni-stars-2.hbs"}}

        {{uni-stars grade=2.5 maxStars=10}}
        {{code-snippet name="uni-stars-3.hbs"}}
      </div>
    </div>

    <div id="information-box" class="components__section">
      {{uni-title title="Information box" class="uni-title--spaced"}}
      <div class="component">
        {{component-links component="uni-info-box"}}
        <p class="description">
          This information box is used to provide additional information to the user. Mainly used on the self-service platform.
        </p>

        {{#uni-info-box title="Type of place"}}
          The type of place and total area will let students know how big your place is.
        {{/uni-info-box}}
        {{code-snippet name="uni-info-box-1.hbs"}}
      </div>
    </div>

    <div id="footer" class="components__section">
      {{uni-title title="Footer" class="uni-title--spaced"}}
      <div class="component">
        {{component-links component="uni-footer-website"}}
        <p class="description">
          This is the unified website footer component. As this may vary from platform to platform, this must be a very
          versatile component. This is composed of rows and cells.
        </p>
      </div>

      {{#uni-footer-website as |footer|}}
        {{#footer.row as |row|}}
          {{#row.cell header="Uniplaces" as |cell|}}
            <a class="{{cell.cellClass}}__anchor">About</a>
            <a class="{{cell.cellClass}}__anchor">Partners</a>
          {{/row.cell}}
          {{#row.cell header="Students" as |cell|}}
            <a class="{{cell.cellClass}}__anchor">Ambassador program</a>
            <a class="{{cell.cellClass}}__anchor">Uniplaces scholarship</a>
          {{/row.cell}}
          {{#row.cell header="Need help?" as |cell|}}
            <a class="{{cell.cellClass}}__anchor">Help center</a>
            <a class="{{cell.cellClass}}__anchor">Contact us</a>
          {{/row.cell}}
        {{/footer.row}}
        {{#footer.row as |row|}}
          {{#row.cell halfLine=true as |cell|}}
            <a class="{{cell.cellClass}}__anchor {{cell.cellClass}}__anchor--inline">Lisbon</a>
            <a class="{{cell.cellClass}}__anchor {{cell.cellClass}}__anchor--inline">Porto</a>
          {{/row.cell}}
        {{/footer.row}}
      {{/uni-footer-website}}

      {{code-snippet name="uni-footer-website-1.hbs"}}

      {{#uni-footer-website isDark=true as |footer|}}
        {{#footer.row as |row|}}
          {{#row.cell header="Uniplaces" as |cell|}}
            <a class="{{cell.cellClass}}__anchor">About</a>
            <a class="{{cell.cellClass}}__anchor">Partners</a>
          {{/row.cell}}
          {{#row.cell header="Students" as |cell|}}
            <a class="{{cell.cellClass}}__anchor">Ambassador program</a>
            <a class="{{cell.cellClass}}__anchor">Uniplaces scholarship</a>
          {{/row.cell}}
          {{#row.cell header="Need help?" as |cell|}}
            <a class="{{cell.cellClass}}__anchor">Help center</a>
            <a class="{{cell.cellClass}}__anchor">Contact us</a>
          {{/row.cell}}
        {{/footer.row}}
        {{#footer.row as |row|}}
          {{#row.cell halfLine=true as |cell|}}
            <a class="{{cell.cellClass}}__anchor {{cell.cellClass}}__anchor--inline">Lisbon</a>
            <a class="{{cell.cellClass}}__anchor {{cell.cellClass}}__anchor--inline">Porto</a>
          {{/row.cell}}
        {{/footer.row}}
      {{/uni-footer-website}}

      {{code-snippet name="uni-footer-website-2.hbs"}}
    </div>
  </div>
</div>
