{{#uni-modal
  isOpen=showInfoModal
  title=(i '${infoSvg} ${title}' infoSvg=(inline-svg "icons/info.svg") title=title)
  onCloseModal=(action (toggle 'showInfoModal' this))}}
  {{yield}}
{{/uni-modal}}

<div class="uni-info-box">
  <div class="uni-info-box__wrapper">
    <div class="uni-info-box__title">
      {{inline-svg "icons/info.svg"}}
      {{{title}}}
    </div>
    <div class="uni-info-box__hr"></div>
    <p class="uni-info-box__content">{{yield}}</p>
  </div>
</div>

<div class="uni-info-box-mobile-button" {{action (toggle "showInfoModal" this)}}>
  {{inline-svg "icons/info.svg"}}
</div>
