{{#if withEmail}}
  {{input type="text" placeholder="First name"}}
  {{input type="text" placeholder="Last name"}}
  {{input type="email" placeholder="Email address"}}
  {{input type="password" placeholder="Password (min 5 characters)"}}

  {{uni-button isPrimary=true label="Signup" click=(action "signupWithCredentials")}}
{{else}}
  <button class="uni-signup__button uni-signup__button--facebook" {{action "signupSocial" 'facebook'}}>
      {{inline-svg "icons/facebook.svg"}}
      Continue with facebook<br>
      <span class="uni-signup__button--facebook__small">we won't post anything without asking</span>
  </button>
  <button class="uni-signup__button uni-signup__button--google" {{action "signupSocial" 'google'}}>
      {{inline-svg "icons/google.svg"}}
      Continue with Google
  </button>
  <button class="uni-signup__button uni-signup__button--email" {{action "toggleWithEmail"}}>
      {{inline-svg "icons/email.svg"}}
      Sign up with email
  </button>
{{/if}}
