<button
  class="{{extraBtnClasses}} uni-dropdown-button {{if isOpen 'uni-dropdown-button--active'}}"
  {{action (toggle "isOpen" this)}}>
  {{component placeholderComponent option=selected}}
</button>

<ul class="uni-dropdown__wrapper">
  {{#each options as |option|}}
    <li class="uni-dropdown__item">{{yield option}}</li>
  {{/each}}
</ul>
