<div class="uni-header__wrapper">
  {{#if (not logoSrc)}}
    {{#if logoUrl}}
      <a href="{{logoUrl}}">
        {{svg-jar (if isTransparent "uniplaces_logo_white" "uniplaces_logo")}}
      </a>
    {{else if logoRoute}}
      {{#link-to logoRoute}}
        {{svg-jar (if isTransparent "uniplaces_logo_white" "uniplaces_logo")}}
      {{/link-to}}
    {{else}}
      {{svg-jar (if isTransparent "uniplaces_logo_white" "uniplaces_logo")}}
    {{/if}}
  {{else}}
    <img src="{{logoSrc}}" width="{{logoWidth}}" height="{{logoHeight}}">
  {{/if}}

  {{yield}}
</div>
