<div class="ember-power-calendar-row ember-power-calendar-weekdays">
  {{#each this.weekdaysNames as |wdn|}}
    <div class="ember-power-calendar-weekday">{{wdn}}</div>
  {{/each}}
</div>

<div class="ember-power-calendar-day-grid" onkeydown={{action "handleKeyDown" calendar}}>
  {{#each this.weeks key="id" as |week|}}
    <div class="ember-power-calendar-row ember-power-calendar-week" data-missing-days={{week.missingDays}}>
      {{#each week.days key="id" as |day|}}
        <button type="button"
          data-date={{day.id}}
          class="ember-power-calendar-day {{if day.isDisabled "ember-power-calendar-day--disabled"}} {{if onSelect "ember-power-calendar-day--interactive"}} {{if day.isCurrentMonth "ember-power-calendar-day--current-month" "ember-power-calendar-day--other-month"}} {{if day.isSelected "ember-power-calendar-day--selected"}} {{if day.isToday "ember-power-calendar-day--today"}} {{if day.isHighlighted "ember-power-calendar-day--highlighted"}} {{if day.isFocused "ember-power-calendar-day--focused"}} {{if day.isRangeStart "ember-power-calendar-day--range-start"}} {{if day.isRangeEnd "ember-power-calendar-day--range-end"}} {{if day.isMinimumStay "ember-power-calendar-day--minimum-stay"}} {{if day.isFirstHighlighted "ember-power-calendar-day--first-highlighted"}} {{if day.isLastHighlighted "ember-power-calendar-day--last-highlighted"}}"
          onclick={{if day.isDisabled (action "onDisabledClick") (action calendar.actions.select day calendar)}}
          onfocus={{action "handleDayFocus"}}
          onblur={{action "handleDayBlur"}}
          onmouseover={{action "onMouseOver" day}}
          onmouseout={{action "onMouseOut" day}}>
          {{day.number}}
        </button>
      {{/each}}
    </div>
  {{/each}}
</div>
