{{#uni-input-container isChecked=isSelected}}
    <input
      type="checkbox"
      value={{value}}
      checked={{isSelected}}
      name={{name}}
      id={{i '${id}-checkbox' id=elementId}}
      disabled={{if isDisabled 'disabled' ''}}
      class="uni-checkbox">

    <label for={{i '${id}-checkbox' id=elementId}}>{{label}}</label>
{{/uni-input-container}}
