{{#if isRightSideCurrency}}
  {{input type=type maxlength=maxLength placeholder=placeholder value=value}}
  <span>{{currency}} / {{per}}</span>
{{else}}
  <span class="uni-input-price__currency">{{currency}}</span>
  {{input type=type maxlength=maxLength placeholder=placeholder value=value}}
  <span>/ {{per}}</span>
{{/if}}
