<input type="text" placeholder={{placeholder}} value="{{value}} {{target}}">
<button class="uni-input-range-button {{if isDecrementDisabled 'uni-input-range-button--disabled'}}" {{action 'decrement'}}>-</button>
<button class="uni-input-range-button {{if isIncrementDisabled 'uni-input-range-button--disabled'}}" {{action 'increment'}}>+</button>
