{{#power-calendar
  center=center
  selected=selected
  onCenter=(action onCenter value="moment")
  onSelect=(action onSelect value="moment") as |calendar|}}

  <nav class="ember-power-calendar-nav">
    <div role="button" class="ember-power-calendar-nav-control {{isFirstMonth}}" {{action "prevMonth"}}>
      {{inline-svg "essential/icons/arrow-left-calendar"}}
    </div>
    <div class="ember-power-calendar-nav-title">
      {{moment-format calendar.center dateFormat}}
    </div>
    <div role="button" class="ember-power-calendar-nav-control {{isLastMonth}}" {{action "nextMonth"}}>
      {{inline-svg "essential/icons/arrow-right-calendar"}}
    </div>
  </nav>

  {{calendar.days minDate=minDate maxDate=maxDate showDaysAround=showDaysAround disabledDates=disabledDates}}
{{/power-calendar}}
