{{#if hasBlock}}
  {{yield}}
{{else}}
  <div class="label">{{label}}</div>
  {{#if icon}}
    <div class="icon">{{svg-jar icon}}</div>
  {{/if}}
{{/if}}

{{#if isLoading}}
  <div class="loader">
    {{svg-jar "loader"}}
  </div>
{{/if}}
