{{inline-svg (i "essential/icons/${iconName}.svg" iconName=iconName)}}

<div class="uni-alert__wrapper">
    {{#if title}}
        <div class="uni-alert__title">{{title}}</div>
    {{/if}}
    {{#if subtitle}}
        <div class="uni-alert__content">{{subtitle}}</div>
    {{/if}}

    <div class="uni-alert__content">
        {{yield}}
    </div>

    {{#if hasClose}}
        <div class="uni-alert__close" {{action 'close'}}>{{inline-svg "essential/icons/cross.svg"}}</div>
    {{/if}}
</div>
