<span class="uni-tooltip__icon" {{action "onTapOrClick"}}>
    {{#if isInformation}}
        {{inline-svg "images/icons/information-icon"}}
    {{else if isQuestion}}
        {{inline-svg "images/icons/question-icon"}}
    {{else if (not yieldContent)}}
        {{yield}}
    {{/if}}
</span>
{{#if (or (not media.isMobile) isActive)}}
  <div class="uni-tooltip__text">
      {{#if title}}
          <div class="uni-tooltip__text__title">{{{title}}}</div>
      {{/if}}

      {{{content}}}

      {{#if yieldContent}}
        {{yield}}
      {{/if}}
  </div>
{{/if}}
