<div class="uni-step-card__step">{{step}}</div>

{{#if icon}}
  <div class="uni-step-card__icon">{{inline-svg icon}}</div>
{{/if}}

<div class="uni-step-card__title">{{{title}}}</div>
{{#if hint}}
  <div class="uni-step-card__hint">{{{hint}}}</div>
{{/if}}

{{yield}}
