{{#if (not isRightSideCurrency)}}
  <span class="uni-input-price__currency">{{currency}}</span>
{{/if}}

{{input
  type=type
  value=numberAsInt
  max=max
  min=min
  disabled=isDisabled
  maxlength=maxLength
  placeholder=placeholder
  focus-in=(action "onFocusIn")
  focus-out=(action "onFocusOut")
  key-up=(action "onChange")}}

{{#if per}}
  {{#if isRightSideCurrency}}
    <span>{{currency}} / {{per}}</span>
  {{else}}
    <span>/ {{per}}</span>
  {{/if}}
{{else}}
  <span>{{currency}}</span>
{{/if}}
