{{#if isUserLoggedIn}}
    {{uni-header-button label="Help"}}

    {{#uni-header-dropdown options=headerOptions selected=username as |option componentName|}}
        {{component componentName option=option}}
    {{/uni-header-dropdown}}
{{else}}
    {{uni-header-button label="help"}}
    {{uni-header-button label="login"}}
    {{uni-header-button label="signup"}}
{{/if}}

{{#uni-header-dropdown options=languages selected=language as |componentName option|}}
  {{component componentName option=option onClick=(action "onLanguageBtnClick")}}
{{/uni-header-dropdown}}

{{!-- {{#if withExit}}
    <button class="uni-header__nav__button" {{action "triggerExit"}}>{{exitLabel}}</button>
{{else}} --}}
