<input
  type="radio"
  value={{value}}
  checked={{checked}}
  name={{name}}
  id={{i '${id}-radio' id=elementId}}>

<label for={{i '${id}-radio' id=elementId}}>
  {{#if checked}}
    {{svg-jar "check"}}
  {{/if}}
  {{label}}
</label>
