{{#power-calendar
  center=center
  selected=selected
  onCenterChange=(action onCenter value="moment")
  onSelect=(action onSelect value="moment")
  classNames=(if isFullScreen "fullscreen")
as |calendar|}}

  {{yield}}

  {{#if selectedMessage}}
    <div class="message {{i "message--${type}" type=selectedMessage.type}}">
      {{svg-jar selectedMessage.type}}
      <p>{{selectedMessage.label}}</p>
    </div>
  {{/if}}

  {{#if isFullScreen}}
    <div class="close-modal" {{action "onClose"}}>
      {{svg-jar "cross"}}
    </div>
  {{/if}}

  <nav class="ember-power-calendar-nav">
    <button type="button" class="ember-power-calendar-nav-control" onclick={{action calendar.actions.moveCenter -1 'month'}}>
      {{svg-jar "arrow-left-calendar"}}
    </button>
    <div class="ember-power-calendar-nav-title">
      {{moment-format calendar.center dateFormat}}
    </div>
    <button class="ember-power-calendar-nav-control" onclick={{action calendar.actions.moveCenter 1 'month'}}>
      {{svg-jar "arrow-right-calendar"}}
    </button>
  </nav>

  {{calendar.days disabledDates=disabledDates showDaysAround=false}}

{{/power-calendar}}
