<div role="button" class="{{btnClass}} uni-dropdown__button" {{action "buttonClick"}}>
  {{#if selected}}
    {{#if selectedAlias}}
      {{selectedAlias}}
    {{else}}
      {{selected}}
    {{/if}}
  {{else}}
    {{placeholder}}
  {{/if}}

  {{#if selectedSvgs}}
    <div class="uni-dropdown__svg-group">
      {{#each selectedSvgs as |svg|}}
        {{inline-svg svg}}
      {{/each}}
    </div>
  {{/if}}
</div>

{{#if isOpen}}
  <ul class="uni-dropdown__wrapper">
    {{#each options as |option|}}
      <li class="uni-dropdown__item" {{action "optionClick" option}}>{{yield option}}</li>
    {{/each}}
  </ul>
{{/if}}
