<div role="button" class="{{btnClass}} uni-dropdown__button" {{action (toggle "isOpen" this)}}>
  {{#if selected}}
    {{selected}}
  {{else}}
    {{placeholder}}
  {{/if}}
</div>

{{#if isOpen}}
  <ul class="uni-dropdown__wrapper">
    {{#each options as |option|}}
      <li class="uni-dropdown__item" {{action "click" option}}>{{yield option}}</li>
    {{/each}}
  </ul>
{{/if}}
