{{#uni-input-container isChecked=isSelected}}
  <input
    type="checkbox"
    value={{isSelected}}
    checked={{isSelected}}
    name={{name}}
    id={{i "${id}-checkbox" id=elementId}}
    disabled={{if isDisabled "disabled" ""}}
    class={{i
      "uni-checkbox ${disabledClass} ${errorClass} ${smallClass}"
      disabledClass=(if isDisabled "uni-checkbox--disabled" "")
      smallClass=(if isSmall "uni-checkbox--small")
      errorClass=(if hasError "uni-checkbox--error" "")}}>

  <label for={{i "${id}-checkbox" id=elementId}}>
    {{#if icon}}
      <div class="icon">{{svg-jar icon}}</div>
    {{/if}}
    <div class="label">{{label}}</div>
    {{svg-jar "checkbox-icon"}}
  </label>
{{/uni-input-container}}
