<span class="uni-autocomplete__placeholder">{{autocompleteText}}</span>

{{input
  value=value
  placeholder=(if placeholder placeholder placeholderText)
  autocomplete=autocomplete
  focus-in=(action "showOptions")
  focus-out=(action "onFocusOut")
  class=(i 'uni-input uni-input--bordered ${errorClass}' errorClass=(if hasError 'uni-input--error'))
  key-down=(action "keyPress")}}

{{#if optionsFiltered}}
  {{#if showOptions}}
    <ul class="options">
      {{#each optionsFiltered as |option index|}}
        <li {{action "onSelected" option}}>
          <span class="option {{if (eq index highlighted) 'option--highlighted'}}" {{action "setHighlighted" index on="mouseEnter"}}>
            {{yield option}}
          </span>
        </li>
      {{/each}}
    </ul>
  {{/if}}
{{else}}
  {{component noResultsComponent translatedText=noResultsText value=value}}
{{/if}}
