<div class="uni-step-card__step">{{step}}</div>

<div class="uni-step-card__title">{{title}}</div>
<div class="uni-step-card__hint">{{hint}}</div>

{{#if (and (not isComplete) (not isDisabled))}}
  {{uni-button label="Continue" isPrimary=true}}

  {{#if (gt percentage 0)}}
    {{uni-progress-bar percentage=percentage}}
    <div class="uni-step-card__progress-bar-label">You’re {{percentage}}% done on the second step!</div>
  {{/if}}
{{/if}}

{{#if isComplete}}
  {{uni-anchor label="Change"}}
{{/if}}
