<div class="uni-signup {{if withEmail 'uni-signup--with-email'}}">
  <div class="uni-signup__title">
    {{#if withEmail}}
    <div class="uni-signup__title__back" {{action "onClickBack"}}>
      {{inline-svg "icons/back.svg"}}
    </div>
    {{/if}}

    {{title}}
  </div>

  {{yield}}
</div>
