{{#if isOpen}}
  {{#modal-dialog onClose="onCloseModal"}}
    <div class="{{baseCssClass}}">
      <div class="{{baseCssClass}}__wrapper {{customCssComponentClass}}">
        {{#if title}}
          <div class="{{baseCssClass}}__header">
            {{uni-title title=title}}
          </div>
        {{/if}}

        {{#if hasSeparator}}
          <div class="separator"></div>
        {{/if}}

        <div aria-role="button" class="{{baseCssClass}}__close-button" {{action "onCloseModal"}}>
          {{inline-svg "icons/close-modal.svg"}}
        </div>

        {{yield}}
      </div>
    </div>
  {{/modal-dialog}}
{{/if}}
