<div class="uni-signup {{if withEmail "uni-signup--with-email"}}">
  <div class="uni-signup__title">
    {{#if withEmail}}
      <div class="uni-signup__title__back" {{action "onClickBack"}}>
        {{svg-jar "back"}}
      </div>
    {{/if}}

    {{title}}
  </div>

  {{yield}}
</div>
