{{yield photo}}

<div class="uni-image-gallery__wrapper__item__image {{if faded 'uni-image-gallery__wrapper__item__image--fade' ''}}" style={{imageStyle}} {{action onImageClick}}></div>

{{#if photo.isUploading}}
  <div class="uni-image-gallery__wrapper__item__progress">
    {{ember-progress-bar progress=progressPercentage shape="Circle" options=progressOptions}}
  </div>
{{/if}}
