<div class="uni-header__wrapper">
  {{#if logoUrl}}
    <a href="{{logoUrl}}">
      {{inline-svg (if isTransparent "images/uniplaces_logo_white.svg" "images/uniplaces_logo.svg")}}
    </a>
  {{else if logoRoute}}
    {{#link-to logoRoute}}
      {{inline-svg (if isTransparent "images/uniplaces_logo_white.svg" "images/uniplaces_logo.svg")}}
    {{/link-to}}
  {{else}}
    {{inline-svg (if isTransparent "images/uniplaces_logo_white.svg" "images/uniplaces_logo.svg")}}
  {{/if}}

  {{yield}}
</div>
