{{#if (not isRightSideCurrency)}}
  <span class="uni-input-price__currency">{{currency}}</span>
{{/if}}

{{input
  type=type
  value=value
  max=max
  min=min
  maxlength=maxLength
  placeholder=placeholder
  focus-in=(action "onFocusIn")
  key-down=(action "onChange")}}

{{#if isRightSideCurrency}}
  <span>{{currency}} / {{per}}</span>
{{else}}
  <span>/ {{per}}</span>
{{/if}}
