<div class="uni-header__wrapper">
  {{#if logoUrl}}
    <a href="{{logoUrl}}">
      {{inline-svg (if isTransparent "uniplaces_logo_white.svg" "uniplaces_logo.svg")}}
    </a>
  {{else}}
    {{#link-to logoRoute}}
      {{inline-svg (if isTransparent "uniplaces_logo_white.svg" "uniplaces_logo.svg")}}
    {{/link-to}}
  {{/if}}

  {{yield}}
</div>
