{{#if isOpen}}
  {{#modal-dialog onClose=(action "onCloseModal") renderInPlace=renderInPlace}}
    <div class="{{baseCssClass}} {{modifierCssClass}}">
      <div class="{{baseCssClass}}__wrapper {{customCssComponentClass}}">
        {{#if title}}
          <div class="{{baseCssClass}}__header">
            {{uni-title title=title}}
          </div>
        {{/if}}

        {{#if hasSeparator}}
          <div class="separator"></div>
        {{/if}}

        {{#if hasCloseButton}}
          <div aria-role="button" class="{{baseCssClass}}__close-button" {{action "onCloseModal"}}>
            {{inline-svg "icons/close-modal.svg"}}
          </div>
        {{/if}}

        {{yield}}
      </div>
    </div>
  {{/modal-dialog}}
{{/if}}
