{{uni-header}}
<p class="code-snippet">
  \{{uni-header}}
  <br><br>
</p>

{{#uni-header}}
  {{uni-header-menu }}
{{/uni-header}}
<p class="code-snippet">
  \{{uni-header loggedIn=true}}
  <br><br>
</p>

{{uni-header step="First Step" description="Describe your property" loggedIn=false}}
<p class="code-snippet">
  \{{uni-header step="First Step" description="Describe your property" loggedIn=false}}
  <br><br>
</p>

{{uni-header step="First Step" description="Describe your property" loggedIn=true}}
<p class="code-snippet">
  \{{uni-header step="First Step" description="Describe your property" loggedIn=true}}
  <br><br>
</p>

{{uni-header step="First Step" description="Describe your property" withExit=true}}
<p class="code-snippet">
  \{{uni-header step="First Step" description="Describe your property" withExit=true}}
  <br><br>
</p>

<div style="background-color: #333">
  {{uni-header isTransparent=true}}
</div>
<p class="code-snippet">
  \{{uni-header isTransparent=true}}
  <br><br>
</p>

<div style="background-color: #333">
  {{uni-header isTransparent=true loggedIn=true}}
</div>
<p class="code-snippet">
  \{{uni-header isTransparent=true loggedIn=true}}
  <br><br>
</p>

{{uni-tabs}}
<p class="code-snippet">
  \{{uni-tabs tabs=...}}
  <br><br>
  note: each tab should follow this structure:<br>
  tabs: [{ label: "Rent price", url: "..."}, ...]
  <br><br>
</p>

{{uni-title title="Title"}}
<p class="code-snippet">
  \{{uni title title="Title"}}
  <br><br>
</p>

{{uni-title title="Title" subtitle="Lorem ipsum dolor sit amet"}}
<p class="code-snippet">
  \{{uni title title="Title" subtitle="Lorem ipsum dolor sit amet"}}
  <br><br>
</p>

{{uni-subtitle subtitle="Subtitle"}}
<p class="code-snipped">
  \{{uni-subtitle subtitle="Subtitle"}}
  <br><br>
</p>

{{uni-title title="Anchors"}}
{{uni-anchor label="This is an anchor"}}
<p class="code-snippet">
  \{{uni-anchor label="This is an anchor"}}
  <br><br>
</p>

{{uni-title title='Buttons'}}
<div class="flex-wrapper">
  {{uni-button isPrimary=true label="Primary"}}
  {{uni-button isSecondary=true label="Secondary"}}
  {{uni-button isDisabled=true label="Disabled"}}
</div>

<p class="code-snippet">
  \{{uni-button isPrimary=true label="Primary" customAction=(action "someAction")}}<br><br>
  \{{uni-button isSecondary=true label="Secondary" customAction=(action "someAction")}}<br><br>
  \{{uni-button isDisabled=true label="Disabled" customAction=(action "someAction")}}
  <br><br>
</p>

{{uni-title title="Checkboxes"}}
<div class="flex-wrapper">
  {{uni-checkbox label="Selected" isSelected=true}}
  {{uni-checkbox label="Not selected" isSelected=false}}
</div>
<p class="code-snippet">
  \{{uni-checkbox label="Selected" isSelected=true}}<br><br>
  \{{uni-checkbox label="Not selected" isSelected=false}}
  <br><br>
</p>

{{uni-title title="Dropdown"}}
{{#uni-dropdown
  selected="Filipe"
  options=(array "Profile" "Preferences" "Logout") as |option|}}
  {{option}}
{{/uni-dropdown}}
<br><br>

{{uni-title title="Inputs"}}
{{uni-title title="uni-input-range"}}
{{uni-input-range placeholder="0" value="10" target="items"}}
<p class="code-snippet">
  \{{uni-input-range placeholder="0" value="10" target="items"}}
</p>
{{uni-title title="uni-input-price"}}
{{uni-input-price placeholder="00" currency="€" isRightSideCurrency=true per="month"}}
<p class="code-snippet">
  \{{uni-input-price placeholder="00" currency="€" isRightSideCurrency=true per="month"}}
</p>
{{uni-title title="uni-mobile-number"}}
{{uni-mobile-number }}

{{uni-title title='Textarea'}}
{{uni-textarea placeholder="This is a placeholder"}}
{{#uni-textarea placeholder="You can also count characters" as |count|}}
  {{count}} characters
{{/uni-textarea}}
<p class="code-snippet">
  \{{uni-textarea}}<br><br>
  \{{#uni-textarea placeholder="You can also count characters" as |count|}}<br>
  <span class="tab">\{{count}} characters</span><br>
  \{{/uni-textarea}}
  <br><br>
</p>

{{uni-title title="Datepicker"}}
{{uni-datepicker}}

<p class="code-snippet">
  \{{uni-datepicker}}
</p>

{{uni-title title="Select"}}
{{uni-select}}

{{#uni-modal isOpen=true title="Photography tips"}}
  {{#uni-carrousel itemCount=3}}
    {{uni-carrousel-item
      thumbnail=""
      title="Shoot for corners and go for straight lines"
      content="Take advantage of the corners - it helps showing the range of space and adds dimensionality to the picture."}}

    {{uni-carrousel-item
      thumbnail=""
      title="Shoot for corners and go for straight lines"
      content="Take advantage of the corners - it helps showing the range of space and adds dimensionality to the picture."}}

    {{uni-carrousel-item
      thumbnail=""
      title="Shoot for corners and go for straight lines"
      content="Take advantage of the corners - it helps showing the range of space and adds dimensionality to the picture."}}
  {{/uni-carrousel}}
{{/uni-modal}}

{{!--
{{uni-title title="sign up"}}
<p class="code-snippet">
  \{{#uni-auth-modal isOpen=true isSignup=true}}
    \{{#uni-signup withEmail=false title="Sign up"}}
      \{{uni-signup-picker}}
    \{{/uni-signup}}
  \{{/uni-auth-modal}}
</p>
{{#uni-auth-modal isOpen=true isSignup=true}}
  {{#uni-signup withEmail=false title="Sign up"}}
    {{uni-signup-picker}}
  {{/uni-signup}}
{{/uni-auth-modal}}

{{uni-title title="sign up with email"}}
<p class="code-snippet">
  \{{#uni-auth-modal isOpen=true isSignup=true}}
    \{{#uni-signup withEmail=true title="Sign up"}}
      \{{uni-signup-picker withEmail=true}}
    \{{/uni-signup}}
  \{{/uni-auth-modal}}
</p>
{{#uni-auth-modal isOpen=true isSignup=true}}
  {{#uni-signup withEmail=true title="Sign up"}}
    {{uni-signup-picker withEmail=true}}
  {{/uni-signup}}
{{/uni-auth-modal}}

{{uni-title title="Login & Signup"}}
<p class="code-snippet">
  \{{#uni-auth-modal isOpen=model.isOpen onCloseModal=(action (toggle "model.isOpen" this))}}
    \{{#if model.isSignup}}
      \{{#uni-signup withEmail=model.withEmail title="Signup" onClickBack=(action (toggle "model.withEmail" this))}}
        \{{#if model.withEmail}}
          \Credentials form
        \{{else}}
          \Social Form
        \{{/if}}
      \{{/uni-signup}}
    \{{/if}}
    \{{#if model.isLogin}}
      \{{#uni-signin title="Login"}}
        \Signin form
      \{{/uni-signin}}
    \{{/if}}
  \{{/uni-auth-modal}}
</p>

{{uni-button isPrimary=true label="Show Signup" click=(route-action "isSignup")}}
{{uni-button isSecondary=true label="Show Login" click=(route-action "isLogin")}}

{{#uni-auth-modal isOpen=model.isOpen onCloseModal=(action (toggle "model.isOpen" this))}}
  {{#if model.isSignup}}
    {{#uni-signup withEmail=model.withEmail title="Signup" onClickBack=(action (toggle "model.withEmail" this))}}
      {{#if model.withEmail}}
        Credentials form
      {{else}}
        Social Form
      {{/if}}
    {{/uni-signup}}
  {{/if}}
  {{#if model.isLogin}}
    {{#uni-signin title="Login"}}
      Signin form
    {{/uni-signin}}
  {{/if}}
{{/uni-auth-modal}}
--}}
<br/>

{{#uni-footer-website as |footer|}}
    {{#footer.row as |row|}}
        {{#row.cell header="Uniplaces" as |cell|}}
            <a class="{{cell.cellClass}}__anchor">About</a>
            <a class="{{cell.cellClass}}__anchor">Partners</a>
        {{/row.cell}}
        {{#row.cell header="Students" as |cell|}}
            <a class="{{cell.cellClass}}__anchor">Ambassador program</a>
            <a class="{{cell.cellClass}}__anchor">Uniplaces scholarship</a>
        {{/row.cell}}
        {{#row.cell header="Need help?" as |cell|}}
            <a class="{{cell.cellClass}}__anchor">Help center</a>
            <a class="{{cell.cellClass}}__anchor">Contact us</a>
        {{/row.cell}}
    {{/footer.row}}
    {{#footer.row as |row|}}
        {{#row.cell halfLine=true as |cell|}}
            <a class="{{cell.cellClass}}__anchor {{cell.cellClass}}__anchor--inline">Lisbon</a>
            <a class="{{cell.cellClass}}__anchor {{cell.cellClass}}__anchor--inline">Porto</a>
            <a class="{{cell.cellClass}}__anchor {{cell.cellClass}}__anchor--inline">Barcelona</a>
        {{/row.cell}}
    {{/footer.row}}
{{/uni-footer-website}}

<p class="code-snippet">
\{{#uni-footer-website as |footer|}}
    <p class="tab">
        \{{#footer.row as |row|}}
            <p class="tab">
            \{{#row.cell header="Students" as |cell|}}
                Ambassador program
            \{{/row.cell}}
            </p>
        \{{/footer.row}}
    </p>
\{{/uni-footer-website}}
</p>
