{{uni-title title="Anchors"}}
{{uni-anchor label="This is an anchor"}}
<p class="code-snippet">
  \{{uni-anchor label="This is an anchor"}}
</p>

{{uni-title title='Buttons'}}
{{uni-button isPrimary=true label="Primary"}}
{{uni-button isSecondary=true label="Secondary"}}
{{uni-button isDisabled=true label="Disabled"}}

<p class="code-snippet">
  \{{uni-button isPrimary=true label="Primary"}}<br><br>
  \{{uni-button isSecondary=true label="Secondary"}}<br><br>
  \{{uni-button isDisabled=true label="Disabled"}}
</p>

{{uni-title title="Checkboxes"}}
{{uni-checkbox label="Selected" isSelected=true}}
{{uni-checkbox label="Not selected" isSelected=false}}
<p class="code-snippet">
  \{{uni-checkbox label="Selected" isSelected=true}}<br><br>
  \{{uni-checkbox label="Not selected" isSelected=false}}
</p>

{{uni-title title="Dropdown"}}
{{#uni-dropdown
  selected="Filipe"
  options=(array "Profile" "Preferences" "Logout") as |option|}}
  {{option}}
{{/uni-dropdown}}

{{uni-title title="Inputs"}}
{{uni-title title="uni-input-range"}}
{{uni-input-range placeholder="0" value="10" target="items" }}
{{uni-title title="uni-input-price"}}
{{uni-input-price placeholder="00" currency="€" isRightSideCurrency=true per="month"}}
{{uni-input-price placeholder="00" currency="£" isRightSideCurrency=false per="month"}}

{{uni-title title='Textarea'}}
{{uni-textarea placeholder="This is a placeholder"}}
{{#uni-textarea placeholder="You can also count characters" as |count|}}
  {{count}} characters
{{/uni-textarea}}
<p class="code-snippet">
  \{{uni-textarea}}<br><br>
  \{{#uni-textarea placeholder="You can also count characters" as |count|}}<br>
  <span class="tab">\{{count}} characters</span><br>
  \{{/uni-textarea}}
</p>
